*{
    box-sizing: border-box;
}
a{
    cursor: pointer;
}
body{
    color: #222;
}
img{
    max-width: 100%;
}
main{
    /*padding: 10px;*/
    max-width: 960px;
    margin: 0 auto;
    padding-top: 10rem;
}

.navbar {
    /*border: 2px solid red;*/
    width: 100%;
    position: fixed;
    background: white;
    padding: 15px 50px 15px 50px;
    z-index: 100;
    align-items: center;
    max-height: 200px;
}

.navbar.shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;
    /*debug:*/
    /*transform: translate(0, 40%);*/
    /*background-color: #aaa;*/
}
header a{
    text-decoration:none;
    color: inherit;
}
header a.logo{
    font-weight: bold;
    font-size: 1.9rem;
}
header nav{
    display:flex;
    gap: 24px;
}

div.post{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 20px;
}
@media screen and (min-width: 700px) {
    div.post{
        grid-template-columns: .9fr 1.1fr;
    }
}

div.post div.texts h2{
    margin:0;
    font-size: 2rem;
}
div.post div.texts a{
    text-decoration:none;
    color: inherit;
}
div.post p.info{
    margin:24px 0;
    color: #888;
    font-size:1rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
}
div.post p.info a.author{
    color:#333;
}
div.post p.summary{
    margin:10px 0;
    line-height: 1.8rem;
}

div.indexPage hr {
    margin-bottom: 2rem;
    width: 70%;
}

form.login, form.register{
    max-width: 400px;
    margin: 0 auto;
    line-height: 50px;
    padding: 40px;
}

form.login input {
    margin: 1rem 0;
}
input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    scale: 1.20;
    height: 2.5rem;
}
button{

    width: 100%;
    display: block;
    background-color: #555;
    border:0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
    scale: 1.20;
    margin-top: 20px;
    height: 2.2rem;
}

button:hover {
    cursor: pointer !important;
    background: #888;
}
form.login h1, form.register h1{
    text-align: center;
}

div.image img{
    max-height: 250px;
    min-height: 10px;
    object-fit: cover;
    width: 100%;
}
div.post-page div.image{
    max-height:400px;
    display: flex;
    overflow:hidden;
    justify-content: center;
}
div.post-page div.image img{
    object-fit: contain;
    /*object-position: center center;*/
    /*width: 100%;*/
    height: auto;
    width: 100%;
}
div.post-page a{
    color:#333;
    text-decoration: underline;
}
div.post-page h1{
    text-align: center;
    margin: 10px 0 5px;
}
div.post-page time{
    text-align: center;
    display: block;
    font-size:1rem;
    color:#aaa;
    margin: 10px 0;
}
div.post-page div.author{
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
}
div.content p{
    line-height: 1.7rem;
    margin: 30px 0;
}
div.content li{
    margin-bottom: 10px;
}
div.edit-row{
    text-align: center;
    margin-bottom: 20px;
}
div.post-page a.edit-btn{
    background-color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding:15px 30px;
    border-radius: 5px;
    text-decoration: none;
}
a svg{
    height:20px;
}
