*{
    box-sizing: border-box;
}
a{
    cursor: pointer;
}
body{
    color: #222;
}
img{
    max-width: 100%;
}
main{
    /*padding: 10px;*/
    max-width: 960px;
    margin: 0 auto;
    padding-top: 10rem;
}

.navbar {
    /*border: 2px solid red;*/
    width: 100%;
    position: fixed;
    background: white;
    padding: 15px 50px 15px 50px;
    z-index: 100;
    align-items: center;
    max-height: 200px;
}

.navbar.shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;
    /*debug:*/
    /*transform: translate(0, 40%);*/
    /*background-color: #aaa;*/
}
header a{
    text-decoration:none;
    color: inherit;
    /*border: 2px solid red;*/
}
header a.logo{
    font-weight: bold;
    font-size: 1.9rem;
}

/*This is being replaced by logo animation*/
/*header a.logo:hover {*/
/*    text-decoration: underline;*/
/*}*/

div.logo-container {
    /*border: 2px solid red;*/
}

div.logo-animation {
    /*height: auto;*/
    width: 6rem;
    max-height: 1rem;
    /*border: 2px solid red;*/
    transform: translate(0, -50%);
    z-index: -1;
    /*float: right;*/
    padding: 0;
    margin: 0;
}
header nav{
    display:flex;
    gap: 24px;
}

.logo {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
}

.logo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}

.logo:hover {
    color: #ff0000; /* Change the color when hovered over */
}

.logo:hover::after {
    transform: scaleX(1);
}


div.post{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 20px;
}
@media screen and (min-width: 700px) {
    div.post{
        grid-template-columns: .9fr 1.1fr;
    }
}

div.post div.texts h2{
    margin:0;
    font-size: 2rem;
}
div.post div.texts a{
    text-decoration:none;
    color: inherit;
}
div.post p.info{
    margin:24px 0;
    color: #888;
    font-size:1rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
}
div.post p.info a.author{
    color:#333;
}
div.post p.summary{
    margin:10px 0;
    line-height: 1.8rem;
}

div.indexPage hr {
    margin-bottom: 2rem;
    width: 70%;
}

form.login, form.register{
    max-width: 400px;
    margin: 0 auto;
    line-height: 50px;
    /*padding: 40px;*/
    text-align: center;
    justify-content: center;
    z-index: 1;
    /*exp*/
    background: #fff;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 1px 2px white;
    padding: 20px 50px 40px 50px;
}

form.login input, form.register input {
    margin: 1rem 0;
    scale: 1.2;
}

form.login button, form.register input {
    scale: 1.2;
}
form.login h1, form.register h1{
    text-align: center;
    background-color:rgba(255, 255, 255);
    color:black;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
}
input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    /*scale: 1.20;*/
    height: 2.5rem;
}
button{
    width: 100%;
    display: block;
    background-color: #555;
    border:0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
    /*scale: 1.20;*/
    margin-top: 20px;
    height: 2.2rem;
}



button:hover {
    cursor: pointer !important;
    background: #888;
}
div.edit-post{
    /*border: 2px solid red;*/
}
div.image img{
    max-height: 250px;
    min-height: 10px;
    object-fit: cover;
    width: 100%;
}
div.post-page div.image{
    max-height:400px;
    display: flex;
    overflow:hidden;
    justify-content: center;
}
div.post-page div.image img{
    object-fit: contain;
    /*object-position: center center;*/
    /*width: 100%;*/
    height: auto;
    width: 100%;
}
div.post-page a{
    color:#333;
    text-decoration: underline;
}
div.post-page h1{
    text-align: center;
    margin: 10px 0 5px;
}
div.post-page time{
    text-align: center;
    display: block;
    font-size:1rem;
    color:#aaa;
    margin: 10px 0;
}
div.post-page div.author{
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
}
div.content {
    /*border: 2px solid #ddd;*/
    border-radius: 5px;
}
form.create-post, form.edit-post {
    width: 80%;
    margin-left: 10%;
}

form.create-post input,  form.edit-post input {
    margin: 10px 0;
    padding: 15px;
    height: fit-content;
}
form.create-post .content,  form.edit-post .content {
    margin: 10px 0;
}
form.create-post button,  form.edit-post button {
    margin: 10px 0;
    padding: 15px;
    height: fit-content;
}

div.content p{
    line-height: 1.7rem;
    margin: 30px 0;
}
div.content li{
    margin-bottom: 10px;
}
div.edit-row{
    text-align: center;
    margin-bottom: 20px;
}
div.post-page a.edit-btn{
    background-color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding:15px 30px;
    border-radius: 5px;
    text-decoration: none;
}
a svg{
    height:20px;
}

.anime{
/* width: 100% ;*/
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    scale: 1.25;
    z-index: -1;
    background-size: cover;
}
